<ion-header>
  <ion-toolbar>
    <h1 class="titulo" >¿Has olvidado tu contraseña?</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab color="secondary" vertical="bottom" horizontal="center" slot="fixed" (click)="goHome()">
    <ion-fab-button>
      <ion-icon color="light" name="chevron-back-circle" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <form [formGroup]="usuarioRecuperado" (ngSubmit)="handleButtonClick()">
    <div class="contenido">
      <div class="input">
        <ion-item class = "separacion" color="tertiary">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="usuario"></ion-input>
        </ion-item>
        <ion-button size="large" color="primary" (click)="handleButtonClick()">Recuperar</ion-button>
      </div>
    </div>
  </form>
</ion-content>
