.alert {
    --backdrop-opacity: 0.2;
    --background: linear-gradient(90deg, rgba(165, 255, 192, 1) 1%, rgba(0, 212, 255, 1) 100%);
}

.titulo{
    text-align: center;
    margin-top: 5%;
}

ion-content{
    --background: #fff url('../../../assets/splash.png') no-repeat center center / cover;
  }