<ion-header>
  <ion-toolbar>    
    <h1 class="titulo">Ingresa tu nombre y contraseña.</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab (click)="goHome()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon color="light" name="chevron-back-circle" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <form [formGroup]="usuarioRecuperado" (ngSubmit)="login()">
    <div class="contenido">
    <div class="input">
    <ion-item class = "separacion" color="tertiary">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" 
        [(ngModel)]= "user"
      formControlName="usuario"></ion-input>
    </ion-item>
    <ion-item class = "separacion" color="tertiary">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="text" type="password" 
        [(ngModel)]= "password"
      formControlName="pass"></ion-input>
    </ion-item>
    <ion-button size="large" color="primary" (click)="validar()">Iniciar Sesion</ion-button>
  </div>
</div>
    
  </form>
</ion-content>