
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP DuocUC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">Bienvenido</div>
  <div class="contenido">
    <section class="full-width">

    <ion-button  size="large" color="primary" (click)="goLogin()">Iniciar Sesion</ion-button>
    <ion-button  size="large" color="secondary" (click)="goRegister()">Registrarse</ion-button>
    <ion-label class="forgotP" (click)="goForgot()">Olvidaste tu contraseña.</ion-label>
    </section>
  </div>
</ion-content>