<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 class="titulo">RegistrAPP DuocUC</h1>
  </ion-toolbar>
</ion-header>

/* /////////////////////<ion-button  size="large" color="secondary" (click)="goRegister()">Registrarse</ion-button>///////////////////////*/

<ion-content [fullscreen]="true">
  <div class="contenido">
    <div class="botones">
    <ion-button  size="large" color="primary" (click)="goLogin()">Iniciar Sesion</ion-button>
    
    <ion-label class="forgotP" (click)="goForgot()">Olvidaste tu contraseña.</ion-label>

    </div>
  </div>
</ion-content>